@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@300&display=swap');
@import "./colors";

.bodyAboutme{
  height: 100vh;
  background-color: $background-color;
  background-image: url(/img/fondoAboutme.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
}


 

 