
$background-color: #121212;
$primary-color: #BB86FC;
$variant-color: #3700B3;
$secondary-color: #03DAC6;
$error-color: #CF6679;
$text-color: #fff;
$focused-color: #302C2C;
$presset-color: #181414;
$overed-color: #201C1C;
