<body class="bodyAboutme">
  <header class="headerIndex">
  <div class="navbar">
    <div class="logo">
      <a href="./">
      <img src="/img/fullstack.svg" alt="" />
      <div class="nombre">
        <p class="name">Claudio Paredes</p>
        <p class="title">developer</p>
      </div>
      </a>
    </div>
    <nav>
      <a href="./">Home</a>
      <a href="">Coder</a>
      <a href="./av">A/V</a>
      <a href="./aboutme">About me</a>
      <a href="">Contact</a>
      <span></span>
    </nav>
    <a href="" class="action_btn"><i class="fa-solid fa-arrow-right-to-bracket"></i>Log In</a>
    <div class="toggle_btn"><i class="fa-solid fa-bars"></i></div>
  </div>
  <div class="dropdown_menu">
    <li><a href="">Home</a></li>
    <li><a href="">Coder</a></li>
    <li><a href="">A/V</a></li>
    <li><a href="">About me</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="" class="action_btn">Log In</a> </li>
  </div>
</header >
<main class="mainAbout">
  <div class="pOne">
    <div class="grid-item">A</div>
    <div class="grid-item">b</div>
    <div class="grid-item">o</div>
    <div class="grid-item">u</div>
    <div class="grid-item">t</div>
    <div class="grid-item"> </div> 
    <div class="grid-item">M</div>
    <div class="grid-item">e</div>
</div>

  </div>
  <div class="pTwo">
    <p>I am a 43-year-old professional with a diverse range of skills and experiences. As a Fullstack Developer, I thrive in the world of code, crafting web applications with precision and creativity. I also share my knowledge as a programming professor, mentoring the next generation of developers.</p>
    <p>Beyond my technical prowess, I am a passionate photographer and videographer, capturing moments and stories through the lens of my camera. My love for visuals has allowed me to see the world from a unique perspective, and I take pride in sharing my art with others.</p>
    <p>In the medical field, I am a specialized Radiologic Technologist, particularly skilled in MRI (Magnetic Resonance Imaging). My dedication to patient care and attention to detail ensures accurate diagnoses and quality healthcare.</p>
    <p>My most distinguishing qualities include being a self-taught individual, an entrepreneur at heart, a hard worker, and a problem solver. I relish the opportunity to tackle new challenges, whether it's learning a new technology, launching a startup, or finding innovative solutions to complex issues.</p>
    <p>In all my endeavors, I strive for excellence and am committed to continuous growth and improvement. My multidisciplinary background, coupled with my passion for learning, equips me to take on a wide array of tasks with enthusiasm and success."</p>
  </div>
</main>

<footer class="footerAbout"> 
  <div class="footerAbout__wrapper">
  <p><i class="fa-regular fa-copyright"></i>2023 - Claudio Paredes Arbelo</p>
  <div class="socialMediaFooter">
    <a href="https://www.instagram.com/goldencinema80/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/claudio-paredes-arbelo-71686a286/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://github.com/ClaudioParedesArbeloDev" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/ClaudioPDev" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UC8obibrcBZa2FwGN6J9rJSA" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>
  </div>
</footer> 
<script src="/js/index.js"></script>
</body>