<body class="bodyAv">
  <header class="headerIndex">
  <div class="navbar">
    <div class="logo">
      <a href="./">
      <img src="/img/fullstack.svg" alt="" />
      <div class="nombre">
        <p class="name">Claudio Paredes</p>
        <p class="title">developer</p>
      </div>
      </a>
    </div>
    <nav>
      <a href="./">Home</a>
      <a href="">Coder</a>
      <a href="./av">A/V</a>
      <a href="./aboutme">About me</a>
      <a href="">Contact</a>
      <span></span>
    </nav>
    <a href="" class="action_btn"><i class="fa-solid fa-arrow-right-to-bracket"></i>Log In</a>
    <div class="toggle_btn"><i class="fa-solid fa-bars"></i></div>
  </div>
  <div class="dropdown_menu">
    <li><a href="">Home</a></li>
    <li><a href="">Coder</a></li>
    <li><a href="">A/V</a></li>
    <li><a href="">About me</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="" class="action_btn">Log In</a> </li>
  </div>
</header >
<h1 class="titleAv">AudioVisual Productions</h1>
<main class="mainAv">
    <div class="grid-container">
      {{#each docs}}
        <img src="{{this.picture}}" alt="" class="grid-item">
        
      {{/each}}
      <div>
        <img src="" alt="" class="img-show">
        <i class="fa-solid fa-x"></i> 
      </div>
    </div>
    <div class="buttonPag">
      <button>Pag. Anterior</button>
      <button></button>
      <button>Pag. Posterior</button>
    </div>
</main>
<footer class="footerAbout"> 
  <div class="footerAbout__wrapper">
  <p><i class="fa-regular fa-copyright"></i>2023 - Claudio Paredes Arbelo</p>
  <div class="socialMediaFooter">
    <a href="https://www.instagram.com/goldencinema80/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/claudio-paredes-arbelo-71686a286/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://github.com/ClaudioParedesArbeloDev" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/ClaudioPDev" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UC8obibrcBZa2FwGN6J9rJSA" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>
  </div>
</footer> 
<script src="/js/index.js"></script>
<script src="/js/galeria.js"></script>


