<header>
    <div class="sidebar">
        <ul>
            <li>
                <a href="" class="logo">
                    <span class="icon">
                        <i class="fa-solid fa-layer-group"></i>
                    </span>
                    <span class="text">Claudio Paredes</span>
                    
                </a>
            </li>
            <li>
                <a href="" >
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a href="" >
                    <span class="icon">
                        <i class="fa-solid fa-code"></i>
                    </span>
                    <span class="text">Coder</span>
                </a>
            </li>
            <li>
                <a href="" >
                    <span class="icon">
                       <i class="fa-solid fa-photo-film"></i>
                    </span>
                    <span class="text">AudioVisual</span>
                </a>
            </li>
            <li>
                <a href="" >
                    <span class="icon">
                        <i class="fa-solid fa-address-card"></i>
                    </span>
                    <span class="text">About me</span>
                </a>
            </li>
            <li>
                <a href="" >
                    <span class="icon">
                        <i class="fa-solid fa-envelopes-bulk"></i>
                    </span>
                    <span class="text">Contact</span>
                </a>
            </li>
            <li>
                <a href="" >
                    <span class="icon">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </span>
                    <span class="text">LogIn/SingIn</span>
                </a>
            </li>
        </ul>
    </div>
</header>
<main class="pictures">
    <div class="imgLeft">
        <img src="" alt="">
    </div>
    <div class="imgRight">
        <img src="" alt="">
    </div>
</main>
<script src="./js/index.js"></script>